.player__toggler {
  display: block;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #D9CD8D;
  font-size: 0;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.player__loader {
  display: block;
  margin: 20% auto 0 auto;
}
